body {
		background: #fff;
}

body p {
	font-size: 1.2rem;
}

hr {
	border-top-color: #333;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: #333;
	border-right-style: solid;
	border-right-width: 0px;
	border-bottom-color: #333;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-left-color: #333;
	border-left-style: solid;
	border-left-width: 0px;
}

.move-right .exit-off-canvas {
	box-shadow: none;
}

img.logo {
	max-height: 30px;
}

.left-off-canvas-menu {
	background: none;
    border-width: 2px;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(#333333, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(#333333, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image: -o-linear-gradient(#333333, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to bottom, #333333, rgba(0, 0, 0, 0)) 1 100%;

    min-height: 300px;
}

ul.off-canvas-list li a {
	color: #222;
	border-bottom: none;
}

ul.off-canvas-list li a:hover {
	background: #ffd42a;
	color: #fff;
}

.small {
	font-size: 85%;
}

div.highlight {
	border-radius: 5px;
	background: #272822;
	padding: 1rem;
	color: #fff;
	overflow-x: scroll;
}

div.highlight code {
	color: #f2f2f2;
}

div.highlight .cp {	color: #ffffff; }
div.highlight .sd {	color: #666; }
div.highlight .c1 {	color: #666; }
div.highlight .k  {	color: #66d9ef; }
div.highlight .nf { color: #a6e22e; }
div.highlight .x  { color: #e6db74; }
div.highlight .s1 { color: #e6db74; }
div.highlight .mi { color: #f92672; }