---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}>
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}
      <a href="/about/">About</a>
    </div>
</header>


<main class="content" role="main" style="text-align:center;">
    <h1>Donate</h1>
    <div class="donate-button-wrapper">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="B3JPWWJBUSWDU">
            <input type="submit" class="donate-button paypal-donate" name="submit" alt="PayPal - The safer, easier way to pay online!" value="PAYPAL">
        </form>
    </div>
    <div class="donate-button-wrapper">
        <a href="/btc.html" class="donate-button bitcoin-donate">BITCOIN</a>
    </div>

    <div class="donate-button-wrapper">
        <a href="/eth.html" class="donate-button ethereum-donate">ETHEREUM</a>
    </div>

    <div class="donate-button-wrapper">
        <a href="/ltc.html" class="donate-button litecoin-donate">LITECOIN</a>
    </div>
</main>
