<!DOCTYPE html>
<html lang="en">
	<body data-spy="scroll" data-offset="0" data-target="#gn-menu">
	<div id="headerwrap">
		<div class="container">
			<div class="col-lg-3">
				<div class="text-center">
					<div class="date-block large">
						<span class="month">{{ page.date | date: "%B" }}</span>
						<div class="clearfix"></div>
						<span class="day">{{ page.date | date: "%-d" }}</span>
						<div class="clearfix"></div>
						<span class="year">{{ page.date | date: "%Y" }}</span>
					</div>
				</div>
			</div>
			<div class="col-lg-9">
			<h1>{{ page.title }}</h1>
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->