<div class="navigation">
    <div class="overlay overlay-hugeinc">
        <a id="close-nav" type="button" class="overlay-close">✕</a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="http://twitter.com/aristath">Find me on Twitter</a></li>
                <li><a href="http://github.com/aristath">Find me on Github</a></li>
            </ul>
        </nav>
    </div>
</div>
