<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script>$(document).foundation();</script>

<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e8994de6a13ee6a"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 5
    }, 
    'follow' : {
      'services' : [
        {'service': 'twitter', 'id': 'aristath'},
        {'service': 'google_follow', 'id': '+AristeidesStathopoulos'}
      ]
    }   
  });
</script>
<!-- AddThis Smart Layers END -->