<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- content start -->

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- content end -->

    {% include footer.html %}
    {% include javascripts.html %}
    <p><strong><a style="background:#000;color:#fff!important;padding:7px 13px;position:fixed;bottom:0;right:0;text-decoration:none;" href="/donate">If you like and use my work, you can buy me a beer or coffee. ¯\_(ツ)_/¯ </a></strong></p>
  </body>

</html>
